
.header
{
  width:80%;
  height:auto;
  background-color:purple;
  background: linear-gradient(transparent, black);
 }



.menu
{
 width:80%;
	 height:40px;
	 background-color:#6633FF;	
     	 
}
	 
.table
{
	width:100%;
	
}

.footer
{
  width:80%;
  height:10%;
 background-color: #6633FF;
}  

.sl
{
	margin-top:-330px;
}

.text
{
	
	text-align:justify;
}